:root {
  --blue: #3c78d8;
  --blue-light: #007bff;
  --green-deep: #17a2b8;
  --gray: #808080;
  --gray-light: #f8f9fa;
  --gray-deep-light: #e2e3e5;
  --gray-deep: #6c757d;
  --gray-deep-dark: #383d41;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* h1 태그에 적용할 기본 스타일 */
  h1 {
    line-height: 1;
    margin-bottom: 8px;
    @apply text-[2.5rem] font-medium;
  }

  h2 {
    line-height: 1;
    margin-bottom: 8px;
    @apply text-[32px] font-medium;
  }

  h4 {
    line-height: 1;
    margin-bottom: 8px;
    @apply text-[24px] font-medium mb-3;
  }

  p {
    @apply text-left mb-3 font-light;
  }
}